<% provide :title, t(".title_begin") %>
<div id="sign_up" class="container">
  <h1 class="center"><%= t ".title_begin" %></h1>
  <div class="gravatar_edit">
    <%= gravatar_for(@user,size: Settings.users.show.size_gravata_max) %>
    <%= link_to t(".change"), Settings.users.form.link_change_img, "target": "_blank" %>
  </div>
  <%= render "form", submit_text: t(".submit") %>
</div>


