$bg-gray: #e4dbdb;

#home{
  background-color: $bg-gray;
  padding: 100px 0;
  min-height: 350px;
}

#about{
  background-color: $bg-gray;
  padding: 100px 0;
  min-height: 350px;
}

#help{
  background-color: $bg-gray;
  padding: 100px 0;
  min-height: 350px;
}

#sign_in{
  background-color: $bg-gray;
  padding: 100px 0;
  min-height: 350px;
}
